@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.container__body {
      max-width: 50%;
      font-family: 'DM Sans', sans-serif;
      font-size: 18px;

} 
