@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.container__body {
      font-family: 'DM Sans', sans-serif;
      font-size: 18px;
      min-width: 33.75rem;

      $width__children: 100%;
      $paddin__children: 2rem;
      $borderRadius__children: 10px;
}
